
.evento-section-container{ 
    text-align: center;
    margin-bottom: 5%;

}
.evento-section{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 0px 30px 0px;
    justify-content: space-evenly;
}   

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    
    .evento-section {
        flex-direction: column; /* Elementos ficam empilhados */
        align-items: center;   /* Centraliza os elementos */
        padding: 20px 0px;     /* Reduz o espaçamento */
    }
}

@media (max-width: 480px) {
    .evento-section {
        padding: 15px 0px;     /* Reduz ainda mais o espaçamento */
    }

    .evento-section-container {
        margin-bottom: 10%;    /* Aumenta o espaçamento para melhor legibilidade */
        padding: 20px 0px;
    }
}