

.Hero-section{
    margin-bottom: 5%;
    padding-top: 1%;
}
.Hero-section h2{
    text-align: center;
    font-size: 40px;
}

.Hero-section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.Hero-section-container h3{
    text-align: center;
    margin-bottom: 1%;
    font-size: 28px;
}
.Hero-section-container p{
    padding: 0px 4%;

}

.Hero-section-ImageCover{
    background-image: url("/images/image-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-bottom-left-radius: 50% 90px;  /* Arredonda o canto inferior esquerdo */
    border-bottom-right-radius: 50% 90px; /* Arredonda o canto inferior direito */
}



.TextUnderline {
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
  
      /*/ Position the line behind the text so that
      // it is still easily readable */
      z-index: -1;
  
      /*// The SVG is added as an SVG background image */
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
      background-repeat: no-repeat;
  
     /* // This allows the SVG to flex in size to fit
      // any length of word. If the word is short,
      // the SVG will be stretched vertically, if it
      // is long, the SVG will be stretched horizontally.
      // The jagged nature of this particular SVG works
      // with this transforming. */
      background-size: cover;
    }
  }
  

